*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background-color: oklch(97% 0 0);
}

.page__top-bg {
  background-color: oklch(43.2% 0.095 166.913);
}

.page__container {
  margin-bottom: 6rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header--home {
  margin-bottom: 4rem;
}

.header--recipe {
  margin-bottom: 2rem;
}

.header__section {
  display: flex;
  flex-direction: row;
}

.header__section--left {
  justify-content: left;
  flex: 1;
}

.header__section--middle {
  display: none;
  justify-content: center;
  flex: 2;
}

.header__section--right {
  justify-content: end;
  flex: 1;
  gap: 0.5rem;
}

.navigation--on-dark .navigation__link {
  color: oklch(97% 0 0);
}

.navigation--on-dark .navigation__link:hover {
  color: oklch(76.5% 0.177 163.223);
}

.navigation--on-light .navigation__link {
  color: oklch(20.5% 0 0);
}

.navigation--on-light .navigation__link:hover {
  color: oklch(59.6% 0.145 163.225);
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  transition-property: color;
  transition-duration: 300ms;
}

.icon-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  border: none;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 300ms;
  cursor: pointer;
}

.icon-button--on-dark:hover {
  background-color: oklch(59.6% 0.145 163.225);
}

.icon-button--on-light:hover {
  background-color: oklch(92.2% 0 0);
}

.icon-button--on-dark .icon-button__icon {
  color: oklch(97% 0 0);
}

.icon-button--on-light .icon-button__icon {
  color: oklch(20.5% 0 0);
}

.icon-button--account,
.icon-button--search {
  display: none;
}

.icon-button__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family);
  text-decoration: none;
  transition: color;
  transition-duration: 300ms;
}

.logo--on-dark {
  color: oklch(97% 0 0);
}

.logo--on-dark:hover {
  color: oklch(76.5% 0.177 163.223);
}

.logo--on-light {
  color: oklch(20.5% 0 0);
}

.logo--on-light:hover {
  color: oklch(59.6% 0.145 163.225);
}

.logo__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.logo__text {
  font-size: 1.25rem;
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 6rem;
}

.hero__left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.hero__title {
  font-family: var(--font-family);
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: oklch(97% 0 0);
}

.hero__subtitle {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  color: oklch(87% 0 0);
}

.hero__button {
  border: none;
  border-radius: 0.25rem;
  background-color: oklch(59.6% 0.145 163.225);
  color: oklch(97% 0 0);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 300ms;
}

.hero__button:hover {
  background-color: oklch(76.5% 0.177 163.223);
}

.hero__right-section {
  flex: 1;
  position: relative;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.hero__rating-card {
  position: absolute;
  width: 16rem;
}

.hero__rating-card--1 {
  top: 0;
  left: 0;
}

.hero__rating-card--2 {
  bottom: 0;
  right: 0;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.rating-card {
  padding: 1rem;
  background-color: oklch(98.5% 0 0);
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.rating-card__header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.rating-card__user-image {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 9999px;
}

.rating-card__user-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  color: oklch(20.5% 0 0);
}

.rating-card__rating {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.rating-card__star {
  width: 1rem;
  height: 1rem;
}

.rating-card__star--filled {
  color: oklch(79.5% 0.184 86.047);
}

.rating-card__star--empty {
  color: oklch(87% 0 0);
}

.rating-card__text {
  font-family: var(--font-family);
  color: oklch(43.9% 0 0);
}

.popular-recipes {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.popular-recipes__header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.popular-recipes__title {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: oklch(20.5% 0 0);
}

.popular-recipes__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  text-decoration: none;
  color: oklch(59.6% 0.145 163.225);
}

.popular-recipes__link:hover {
  text-decoration: underline;
}

.popular-recipes__link-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.popular-recipes__link-icon {
  width: 1rem;
  height: 1rem;
}

.popular-recipes__subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: oklch(43.9% 0 0);
}

.popular-recipes__grid {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  list-style: none;
  padding-left: 0;
}

.recipe-card__link {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-decoration: none;
}

.recipe-card__link:hover .recipe-card__title {
  color: oklch(59.6% 0.145 163.225);
}

.recipe-card__image {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.recipe-card__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: oklch(20.5% 0 0);
  transition-property: color;
  transition-duration: 300ms;
}

.recipe-card__author {
  font-size: 1rem;
  font-weight: 400;
  color: oklch(43.9% 0 0);
}

.cta {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("/breakfast.jpg");
  background-position: center;
  background-size: cover;
}

.cta__card {
  width: 100%;
  background-color: oklch(98.5% 0 0);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.cta__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: oklch(20.5% 0 0);
}

.cta__subtitle {
  margin-bottom: 1rem;
  color: oklch(43.9% 0 0);
}

.cta__button {
  border: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: oklch(50.8% 0.118 165.612);
  color: oklch(97% 0 0);
  border-radius: 0.5rem;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 300ms;
}

.cta__button:hover {
  background-color: oklch(69.6% 0.17 162.48);
}

.community-recipes {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.community-recipes__header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.community-recipes__title {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
  color: oklch(20.5% 0 0);
}

.community-recipes__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  text-decoration: none;
  color: oklch(59.6% 0.145 163.225);
}

.community-recipes__link:hover {
  text-decoration: underline;
}

.community-recipes__link-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.community-recipes__link-icon {
  width: 1rem;
  height: 1rem;
}

.community-recipes__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  list-style: none;
  padding-left: 0;
}

.community-card {
  background-color: oklch(100% 0 0);
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1.5rem;
}

.community-card__header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.community-card__user-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 9999px;
}

.community-card__recipe-link {
  text-decoration: none;
  color: oklch(50.8% 0.118 165.612);
}

.community-card__recipe-link:hover {
  text-decoration: underline;
}

.community-card__recipe-name {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.community-card__user-name {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: oklch(43.9% 0 0);
}

.community-card__rating {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.community-card__rating-star {
  width: 1rem;
  height: 1rem;
}

.community-card__rating-star--filled {
  color: oklch(79.5% 0.184 86.047);
}

.community-card__rating-star--empty {
  color: oklch(87% 0 0);
}

.community-card__review {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: oklch(43.9% 0 0);
}

.community-card__image {
  margin-bottom: 1rem;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.community-card__button-group {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.community-card__button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 0;
  color: oklch(20.5% 0 0);
  transition-property: color;
  transition-duration: 300ms;
  cursor: pointer;
}

.community-card__button:hover {
  color: oklch(50.8% 0.118 165.612);
}

.community-card__button-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: oklch(43.2% 0.095 166.913);
}

.footer__left-section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__site-description {
  max-width: 30rem;
  font-size: 1rem;
  font-weight: 400;
  color: oklch(87% 0 0);
}

.newsletter__title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: oklch(97% 0 0);
}

.footer__newsletter {
  margin-bottom: 4rem;
}

.newsletter__form {
  position: relative;
}

.newsletter__input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 7rem;
  width: 100%;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.125rem solid oklch(87% 0 0);
  color: oklch(97% 0 0);
  font-size: 1rem;
  font-weight: 500;
}

.newsletter__input:focus-visible {
  outline: 0;
  border-bottom: 0.125rem solid oklch(76.5% 0.177 163.223);
}

.newsletter__input::placeholder {
  color: oklch(87% 0 0);
}

.newsletter__button {
  position: absolute;
  width: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: oklch(59.6% 0.145 163.225);
  color: oklch(97% 0 0);
  font-size: 1rem;
  font-weight: 500;
  border: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 300ms;
}

.newsletter__button:hover {
  background-color: oklch(76.5% 0.177 163.223);
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.menu__title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: oklch(97% 0 0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: oklch(87% 0 0);
}

.menu__link:hover {
  text-decoration: underline;
}

.breadcrumb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.breadcrumb__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.breadcrumb__item {
  font-size: 1rem;
  font-weight: 400;
  color: oklch(37.1% 0 0);
}

.breadcrumb__link {
  text-decoration: none;
  color: oklch(37.1% 0 0);
  transition-property: color;
  transition-duration: 300ms;
}

.breadcrumb__link:hover {
  color: oklch(59.6% 0.145 163.225);
}

.breadcrumb__item + .breadcrumb__item::before {
  content: "/";
  margin-right: 1rem;
  color: oklch(37.1% 0 0);
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
}

.rating__star {
  width: 1rem;
  height: 1rem;
}

.rating__star--filled {
  color: oklch(79.5% 0.184 86.047);
}

.rating__star--empty {
  color: oklch(87% 0 0);
}

.recipe {
  padding-top: 2rem;
  margin-bottom: 6rem;
}

.recipe__header {
  margin-bottom: 3rem;
}

.recipe__header-left {
  margin-bottom: 3rem;
}

.recipe__name {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.recipe__rating {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.recipe__rating-text {
  font-size: 1rem;
  font-weight: 400;
  color: oklch(43.9% 0 0);
}

.recipe__description {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: oklch(43.9% 0 0);
}

.recipe__buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.recipe__primary-button {
  width: 100%;
}

.recipe__image {
  margin-bottom: 4rem;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.recipe__body {
  margin-bottom: 4rem;
}

.recipe__ingredients {
  margin-bottom: 6rem;
}

.ingredients__header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.ingredients__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: oklch(20.5% 0 0);
}

.ingredients__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: oklch(50.8% 0.118 165.612);
  border-radius: 0.5rem;
}

.ingredients__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: oklch(98.5% 0 0);
}

.ingredients__quantity-button {
  margin-left: auto;
}

.ingredients__section {
  background-color: oklch(98.5% 0 0);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.ingredients__section:last-child {
  margin-bottom: 0;
}

.ingredients__section-title {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: oklch(20.5% 0 0);
}

.ingredients__list {
  padding-left: 0;
  list-style: none;
}

.ingredients__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.063rem solid oklch(87% 0 0);
  font-size: 1rem;
  font-weight: 400;
  color: oklch(43.9% 0 0);
}

.ingredients__item:last-child {
  border: none;
  padding-bottom: 0;
}

.quantity-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.quantity-button__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: oklch(50.8% 0.118 165.612);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  transition-property: background-color;
  transition-duration: 300ms;
}

.quantity-button__button:hover {
  background-color: oklch(69.6% 0.17 162.48);
}

.quantity-button__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: oklch(98.5% 0 0);
}

.quantity-button__label {
  font-size: 1rem;
  font-weight: 500;
  color: oklch(43.9% 0 0);
}

.recipe-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

.recipe-info__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recipe-info__name {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: oklch(20.5% 0 0);
}

.recipe-info__value {
  font-size: 1rem;
  font-weight: 400;
  color: oklch(43.9% 0 0);
}

.steps__header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.steps__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: oklch(20.5% 0 0);
}

.steps__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: oklch(50.8% 0.118 165.612);
  border-radius: 0.5rem;
}

.steps__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: oklch(98.5% 0 0);
}

.steps__video {
  margin-bottom: 3rem;
}

.steps__body {
  background-color: oklch(98.5% 0 0);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.steps__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
  counter-reset: list;
}

.steps__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
  counter-increment: list;
  color: oklch(43.9% 0 0);
}

.steps__item::before {
  content: counter(list);
  font-size: 1.125rem;
  font-weight: 600;
  color: oklch(20.5% 0 0);
}

.video {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.video__image {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.video__play-icon-container {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
  background-color: oklch(92.2% 0 0);
  opacity: 60%;
}

.video__play-icon {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
}

.tips {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem;
  border-radius: 1rem;
  background-color: oklch(43.2% 0.095 166.913);
}

.tips__left-section {
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.tips__icon {
  width: 3rem;
  height: 3rem;
  color: oklch(98.5% 0 0);
}

.tips__right-section {
  flex: 1;
}

.tips__name {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: oklch(98.5% 0 0);
}

.tips__value {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: oklch(87% 0 0);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  transition-property: background-color, color, border;
  transition-duration: 300ms;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  cursor: pointer;
}

.button--outlined {
  border: 0.063rem solid oklch(70.8% 0 0);
  background-color: transparent;
  color: oklch(43.9% 0 0);
}

.button--outlined:hover {
  border: 0.063rem solid oklch(59.6% 0.145 163.225);
  color: oklch(59.6% 0.145 163.225);
}

.button--with-bg {
  color: oklch(98.5% 0 0);
  background-color: oklch(50.8% 0.118 165.612);
}

.button--with-bg:hover {
  background-color: oklch(69.6% 0.17 162.48);
}

.button--without-bg {
  color: oklch(43.9% 0 0);
  background-color: transparent;
}

.button--without-bg .button__icon {
  color: oklch(50.8% 0.118 165.612);
}

.button--without-bg:hover {
  background-color: oklch(92.2% 0 0);
}

.button--medium {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.button--large {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.button__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.reviews__left-section {
  margin-bottom: 4rem;
}

.reviews__list {
  margin-bottom: 3rem;
  list-style: none;
  padding-left: 0;
}

.reviews__title {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: oklch(20.5% 0 0);
}

.reviews__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.reviews__review-number {
  font-size: 1rem;
  font-weight: 400;
  color: oklch(43.9% 0 0);
}

.reviews__rating {
  margin-bottom: 1.5rem;
}

.reviews__rating-bars {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.reviews__share-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: oklch(20.5% 0 0);
}

.reviews__share-subtitle {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: oklch(43.9% 0 0);
}

.reviews__share-button {
  width: 100%;
}

.rating-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.rating-bar__note {
  min-width: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: oklch(20.5% 0 0);
}

.rating-bar__icon {
  width: 1rem;
  height: 1rem;
  color: oklch(79.5% 0.184 86.047);
}

.rating-bar__bar {
  position: relative;
  overflow: hidden;
  flex: 1;
  border-radius: 9999px;
  height: 0.75rem;
  background-color: oklch(87% 0 0);
}

.rating-bar__bar-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 9999px;
  background-color: oklch(79.5% 0.184 86.047);
}

.rating-bar__bar-progress--5 {
  width: 65%;
}

.rating-bar__bar-progress--4 {
  width: 10%;
}

.rating-bar__bar-progress--3 {
  width: 6%;
}

.rating-bar__bar-progress--2 {
  width: 12%;
}

.rating-bar__bar-progress--1 {
  width: 9%;
}

.rating-bar__note-percentage {
  min-width: 2.5rem;
  text-align: right;
}

.review {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 0.063rem solid oklch(87% 0 0);
}

.review:first-child {
  padding-top: 0;
}

.review:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.review__header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.review__user-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
}

.review__user-name {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  color: oklch(20.5% 0 0);
}

.review__content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: oklch(43.9% 0 0);
}

.link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: oklch(50.8% 0.118 165.612);
}

.link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .hero__right-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .popular-recipes__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .recipe__primary-button {
    width: auto;
  }

  .recipe-info {
    gap: 0;
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .recipe-info__item-inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .recipe-info__item + .recipe-info__item::before {
    content: "";
    display: block;
    height: 100%;
    width: 0.063rem;
    background-color: oklch(87% 0 0);
  }

  .tips {
    flex-direction: row;
    align-items: center;
  }

  .tips__left-section {
    margin-bottom: 0;
  }

  .tips__icon {
    margin-left: 1rem;
    margin-right: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .hero__right-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero__rating-card--2 {
    bottom: 10%;
  }

  .menu-group {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .header__section--middle {
    display: flex;
  }

  .icon-button--account,
  .icon-button--search {
    display: flex;
  }

  .icon-button--menu {
    display: none;
  }

  .hero {
    flex-direction: row;
  }

  .hero__right-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .hero__rating-card--2 {
    bottom: 0;
  }

  .popular-recipes__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .cta__inner {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .cta__card {
    max-width: 35rem;
  }

  .community-recipes__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .recipe__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }

  .recipe__header-left {
    margin-bottom: 0;
  }

  .recipe__primary-button {
    width: 100%;
  }

  .recipe__body {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .recipe__ingredients {
    order: 2;
    flex: 1;
  }

  .recipe__steps {
    order: 1;
    flex: 1;
  }

  .reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
  }

  .reviews__left-section {
    max-width: 25rem;
  }

  .reviews__right-section {
    max-width: 25rem;
    padding-top: 3.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .hero__right-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .cta {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .footer__right-section {
    min-width: 30rem;
  }

  .recipe__primary-button {
    width: auto;
  }

  .reviews__right-section {
    max-width: 40rem;
  }
}
