*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-gray-950: oklch(13% 0.028 261.692);

  --color-emerald-50: oklch(97.9% 0.021 166.113);
  --color-emerald-100: oklch(95% 0.052 163.051);
  --color-emerald-200: oklch(90.5% 0.093 164.15);
  --color-emerald-300: oklch(84.5% 0.143 164.978);
  --color-emerald-400: oklch(76.5% 0.177 163.223);
  --color-emerald-500: oklch(69.6% 0.17 162.48);
  --color-emerald-600: oklch(59.6% 0.145 163.225);
  --color-emerald-700: oklch(50.8% 0.118 165.612);
  --color-emerald-800: oklch(43.2% 0.095 166.913);
  --color-emerald-900: oklch(37.8% 0.077 168.94);
  --color-emerald-950: oklch(26.2% 0.051 172.552);

  --color-yellow-50: oklch(98.7% 0.026 102.212);
  --color-yellow-100: oklch(97.3% 0.071 103.193);
  --color-yellow-200: oklch(94.5% 0.129 101.54);
  --color-yellow-300: oklch(90.5% 0.182 98.111);
  --color-yellow-400: oklch(85.2% 0.199 91.936);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-700: oklch(55.4% 0.135 66.442);
  --color-yellow-800: oklch(47.6% 0.114 61.907);
  --color-yellow-900: oklch(42.1% 0.095 57.708);
  --color-yellow-950: oklch(28.6% 0.066 53.813);

  --color-emerald-background: var(--color-emerald-900);
  --color-on-emerald-background: var(--color-gray-50);
  --color-on-emerald-background-variant: var(--color-gray-300);

  --color-gray-background: var(--color-gray-100);
  --color-on-gray-background: var(--color-gray-900);
  --color-on-gray-background-variant: var(--color-gray-600);

  --color-primary: var(--color-emerald-600);
  --color-primary-hover: var(--color-emerald-400);
  --color-on-primary: var(--color-emerald-50);
  --color-on-primary-variant: var(--color-emerald-300);

  --color-surface: var(--color-gray-50);
  --color-on-surface: var(--color-gray-900);
  --color-on-surface-variant: var(--color-gray-600);

  --color-outline: var(--color-gray-300);

  --color-rating-star-filled: var(--color-yellow-500);
  --color-rating-star-empty: var(--color-gray-300);
}

.typo {
  font-family: var(--font-family);
}

.typo--title-xxl {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 600;
}

.typo--title-xl {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
}

.typo--title-lg {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.typo--title-md {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 600;
}

.typo--title-sm {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.typo--body-md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.typo--body-sm {
  font-size: 0.90rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.typo--label-md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background-color: var(--color-primary);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.banner__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-on-primary);
}

.banner__link:hover {
  text-decoration: underline;
}

.banner__icon {
  color: var(--color-on-primary);
}

.banner__icon--arrow {
  width: 1rem;
  height: 1rem;
}

.banner__icon--close {
  width: 1.5rem;
  height: 1.5rem;
}

.banner__button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.background {
  background-color: var(--color-emerald-background);
}

.page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-background);
}

.page__icons {
  display: none;
}

.page__container {
  margin-bottom: 6rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border: 0;
  transition-property: background-color, color, border;
  transition-duration: 300ms;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.button--primary {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.button--primary:hover {
  background-color: var(--color-primary-hover);
}

.button--secondary {
  border: 0.063rem solid var(--color-outline);
  background-color: transparent;
  color: var(--color-on-gray-background);
}

.button--secondary:hover {
  border: 0.063rem solid var(--color-primary);
  color: var(--color-primary);
}

.button--text {
  color: var(--color-on-gray-background-variant);
  background-color: transparent;
  padding: 0;
}

.button--text .button__icon {
  color: var(--color-primary);
}

.button--text:hover {
  color: var(--color-primary);
}

.button--small {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button--medium {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.button--large {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-primary);
}

.link__icon {
  width: 1rem;
  height: 1rem;
}

.link:hover {
  text-decoration: underline;
}

.icon-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 300ms;
  cursor: pointer;
}

.icon-button--primary.icon-button--on-dark,
.icon-button--primary.icon-button--on-light {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.icon-button--primary.icon-button--on-dark:hover,
.icon-button--primary.icon-button--on-light:hover {
  background-color: var(--color-primary-hover);
}

.icon-button--secondary.icon-button--on-dark,
.icon-button--secondary.icon-button--on-light {
  background-color: transparent;
}

.icon-button--secondary.icon-button--on-dark {
  color: var(--color-on-emerald-background);
}

.icon-button--secondary.icon-button--on-light {
  color: var(--color-on-gray-background);
}

.icon-button--secondary.icon-button--on-dark:hover,
.icon-button--secondary.icon-button--on-light:hover {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.icon-button__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: color;
  transition-duration: 300ms;
}

.logo--on-dark {
  color: var(--color-on-emerald-background);
}

.logo--on-light {
  color: var(--color-on-gray-background);
}

.logo--on-dark:hover,
.logo--on-light:hover {
  color: var(--color-primary-hover);
}

.logo__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.card {
  background-color: var(--color-surface);
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 2rem;
}

.card--small {
  padding: 1rem;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
}

.rating--5-of-5 .rating__star:nth-child(-n + 5),
.rating--4-of-5 .rating__star:nth-child(-n + 4),
.rating--3-of-5 .rating__star:nth-child(-n + 3),
.rating--2-of-5 .rating__star:nth-child(-n + 2),
.rating--1-of-5 .rating__star:nth-child(-n + 1) {
  color: var(--color-rating-star-filled);
}

.rating--4-of-5 .rating__star:nth-child(n + 5),
.rating--3-of-5 .rating__star:nth-child(n + 4),
.rating--2-of-5 .rating__star:nth-child(n + 3),
.rating--1-of-5 .rating__star:nth-child(n + 2),
.rating--0-of-5 .rating__star:nth-child(-n + 5) {
  color: var(--color-rating-star-empty);
}

.rating__star {
  width: 1rem;
  height: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header--home {
  margin-bottom: 4rem;
}

.header--recipe {
  margin-bottom: 2rem;
}

.header__section {
  display: flex;
  flex-direction: row;
}

.header__section--left {
  justify-content: left;
  flex: 1;
}

.header__section--middle {
  display: none;
  justify-content: center;
  flex: 2;
}

.header__section--right {
  justify-content: end;
  flex: 1;
  gap: 0.5rem;
}

.navigation--on-dark .navigation__link {
  color: var(--color-on-emerald-background);
}

.navigation--on-light .navigation__link {
  color: var(--color-on-gray-background);
}

.navigation--on-dark .navigation__link:hover,
.navigation--on-light .navigation__link:hover {
  color: var(--color-primary-hover);
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 300ms;
}

.header__account-icon,
.header__search-icon {
  display: none;
}

.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer__left-section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__site-description {
  max-width: 30rem;
  color: var(--color-on-emerald-background-variant);
}

.newsletter__title {
  margin-bottom: 0.5rem;
  color: var(--color-on-emerald-background);
}

.footer__newsletter {
  margin-bottom: 4rem;
}

.newsletter__form {
  position: relative;
}

.newsletter__input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 7rem;
  width: 100%;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.125rem solid var(--color-on-emerald-background);
  color: oklch(97% 0 0);
}

.newsletter__input:focus-visible {
  outline: 0;
  border-bottom: 0.125rem solid var(--color-primary-hover);
}

.newsletter__input::placeholder {
  color: var(--color-on-emerald-background-variant);
}

.newsletter__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.menu__title {
  margin-bottom: 1rem;
  color: oklch(97% 0 0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: var(--color-on-emerald-background-variant);
}

.menu__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .menu-group {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .header__section--middle {
    display: flex;
  }

  .header__account-icon,
  .header__search-icon {
    display: flex;
  }

  .header__menu-icon {
    display: none;
  }

  .footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .footer__right-section {
    min-width: 30rem;
  }
}
