*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background-color: oklch(97% 0 0);
}

.page__top-bg {
  background-color: oklch(43.2% 0.095 166.913);
}

.page__container {
  margin-bottom: 6rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border: 0;
  transition-property: background-color, color, border;
  transition-duration: 300ms;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  cursor: pointer;
}

.button__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.button--primary {
  color: oklch(98.5% 0 0);
  background-color: oklch(59.6% 0.145 163.225);
}

.button--primary:hover {
  background-color: oklch(69.6% 0.17 162.48);
}

.button--secondary {
  border: 0.063rem solid oklch(70.8% 0 0);
  background-color: transparent;
  color: oklch(43.9% 0 0);
}

.button--secondary:hover {
  border: 0.063rem solid oklch(59.6% 0.145 163.225);
  color: oklch(59.6% 0.145 163.225);
}

.button--text {
  color: oklch(43.9% 0 0);
  background-color: transparent;
  padding: 0;
}

.button--text .button__icon {
  color: oklch(50.8% 0.118 165.612);
}

.button--text:hover {
  color: oklch(50.8% 0.118 165.612);
}

.button--small {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button--medium {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.button--large {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: oklch(50.8% 0.118 165.612);
}

.link__icon {
  width: 1rem;
  height: 1rem;
}

.link:hover {
  text-decoration: underline;
}

.icon-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 300ms;
  cursor: pointer;
}

.icon-button--primary.icon-button--on-dark {
  background-color: oklch(59.6% 0.145 163.225);
}

.icon-button--primary.icon-button--on-light {
  background-color: oklch(50.8% 0.118 165.612);
}

.icon-button--primary.icon-button--on-dark:hover {
  background-color: oklch(69.6% 0.17 162.48);
}

.icon-button--primary.icon-button--on-light:hover {
  background-color: oklch(59.6% 0.145 163.225);
}

.icon-button--primary .icon-button__icon {
  color: oklch(97% 0 0);
}

.icon-button--secondary.icon-button--on-dark,
.icon-button--secondary.icon-button--on-light {
  background-color: transparent;
}

.icon-button--secondary.icon-button--on-dark:hover {
  background-color: oklch(59.6% 0.145 163.225);
}

.icon-button--secondary.icon-button--on-light:hover {
  background-color: oklch(92.2% 0 0);
}

.icon-button--secondary.icon-button--on-dark .icon-button__icon {
  color: oklch(97% 0 0);
}

.icon-button--secondary.icon-button--on-light .icon-button__icon {
  color: oklch(20.5% 0 0);
}

.icon-button__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family);
  text-decoration: none;
  transition: color;
  transition-duration: 300ms;
}

.logo--on-dark {
  color: oklch(97% 0 0);
}

.logo--on-dark:hover {
  color: oklch(76.5% 0.177 163.223);
}

.logo--on-light {
  color: oklch(20.5% 0 0);
}

.logo--on-light:hover {
  color: oklch(59.6% 0.145 163.225);
}

.logo__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.logo__text {
  font-size: 1.25rem;
  font-weight: 600;
}

.card {
  background-color: oklch(100% 0 0);
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 2rem;
}

.card--small {
  padding: 1rem;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
}

.rating--5-of-5 .rating__star:nth-child(-n + 5) {
  color: oklch(79.5% 0.184 86.047);
}

.rating--4-of-5 .rating__star:nth-child(-n + 4) {
  color: oklch(79.5% 0.184 86.047);
}

.rating--3-of-5 .rating__star:nth-child(-n + 3) {
  color: oklch(79.5% 0.184 86.047);
}

.rating--2-of-5 .rating__star:nth-child(-n + 2) {
  color: oklch(79.5% 0.184 86.047);
}

.rating--1-of-5 .rating__star:nth-child(-n + 1) {
  color: oklch(79.5% 0.184 86.047);
}

.rating--4-of-5 .rating__star:nth-child(n + 5) {
  color: oklch(87% 0 0);
}

.rating--3-of-5 .rating__star:nth-child(n + 4) {
  color: oklch(87% 0 0);
}

.rating--2-of-5 .rating__star:nth-child(n + 3) {
  color: oklch(87% 0 0);
}

.rating--1-of-5 .rating__star:nth-child(n + 2) {
  color: oklch(87% 0 0);
}

.rating--0-of-5 .rating__star:nth-child(-n + 5) {
  color: oklch(87% 0 0);
}

.rating__star {
  width: 1rem;
  height: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header--home {
  margin-bottom: 4rem;
}

.header--recipe {
  margin-bottom: 2rem;
}

.header__section {
  display: flex;
  flex-direction: row;
}

.header__section--left {
  justify-content: left;
  flex: 1;
}

.header__section--middle {
  display: none;
  justify-content: center;
  flex: 2;
}

.header__section--right {
  justify-content: end;
  flex: 1;
  gap: 0.5rem;
}

.navigation--on-dark .navigation__link {
  color: oklch(97% 0 0);
}

.navigation--on-dark .navigation__link:hover {
  color: oklch(76.5% 0.177 163.223);
}

.navigation--on-light .navigation__link {
  color: oklch(20.5% 0 0);
}

.navigation--on-light .navigation__link:hover {
  color: oklch(59.6% 0.145 163.225);
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  transition-property: color;
  transition-duration: 300ms;
}

.header__account-icon,
.header__search-icon {
  display: none;
}

.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: oklch(43.2% 0.095 166.913);
}

.footer__left-section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__site-description {
  max-width: 30rem;
  font-size: 1rem;
  font-weight: 400;
  color: oklch(87% 0 0);
}

.newsletter__title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: oklch(97% 0 0);
}

.footer__newsletter {
  margin-bottom: 4rem;
}

.newsletter__form {
  position: relative;
}

.newsletter__input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 7rem;
  width: 100%;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.125rem solid oklch(87% 0 0);
  color: oklch(97% 0 0);
  font-size: 1rem;
  font-weight: 500;
}

.newsletter__input:focus-visible {
  outline: 0;
  border-bottom: 0.125rem solid oklch(76.5% 0.177 163.223);
}

.newsletter__input::placeholder {
  color: oklch(87% 0 0);
}

.newsletter__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.menu__title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: oklch(97% 0 0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: oklch(87% 0 0);
}

.menu__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .menu-group {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .header__section--middle {
    display: flex;
  }

  .header__account-icon,
  .header__search-icon {
    display: flex;
  }

  .header__menu-icon {
    display: none;
  }

  .footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .footer__right-section {
    min-width: 30rem;
  }
}
