.breadcrumb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.breadcrumb__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.breadcrumb__item {
  color: var(--color-on-gray-background-variant);
}

.breadcrumb__link {
  text-decoration: none;
  color: var(--color-on-gray-background-variant);
  transition-property: color;
  transition-duration: 300ms;
}

.breadcrumb__link:hover {
  color: var(--color-primary-hover)
}

.breadcrumb__item + .breadcrumb__item::before {
  content: "/";
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-right: 1rem;
  color: var(--color-on-gray-background-variant);
}

.recipe {
  padding-top: 2rem;
  margin-bottom: 6rem;
}

.recipe__header {
  margin-bottom: 3rem;
}

.recipe__header-left {
  margin-bottom: 3rem;
}

.recipe__name {
  margin-bottom: 1rem;
  color: var(--color-on-gray-background);
}

.recipe__rating {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.recipe__rating-text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-on-gray-background-variant);
}

.recipe__description {
  margin-bottom: 2rem;
  color: var(--color-on-gray-background-variant);
}

.recipe__buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.recipe__primary-button {
  width: 100%;
}

.recipe__image {
  margin-bottom: 4rem;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.recipe__body {
  margin-bottom: 4rem;
}

.recipe__ingredients {
  margin-bottom: 6rem;
}

.recipe-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

.recipe-info__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recipe-info__name {
  margin-bottom: 0.25rem;
  color: var(--color-on-gray-background);
}

.recipe-info__value {
  color: var(--color-on-gray-background-variant);
}

.ingredients__header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.ingredients__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.ingredients__title {
  color: var(--color-on-gray-background);
}

.ingredients__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
}

.ingredients__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-on-primary);
}

.ingredients__section {
  margin-bottom: 3rem;
}

.ingredients__section:last-child {
  margin-bottom: 0;
}

.ingredients__section-title {
  margin-bottom: 1.5rem;
  color: var(--color-on-surface);
}

.ingredients__list {
  padding-left: 0;
  list-style: none;
}

.ingredients__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.063rem solid var(--color-outline);
  color: var(--color-on-surface-variant);
}

.ingredients__item:last-child {
  border: none;
  padding-bottom: 0;
}

.quantity-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.quantity-button__label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-on-gray-background-variant);
}

.steps__header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.steps__title {
  color: var(--color-on-surface);
}

.steps__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
}

.steps__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-on-primary);
}

.steps__video {
  margin-bottom: 3rem;
}

.steps__body {
  margin-bottom: 3rem;
}

.steps__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
  counter-reset: list;
}

.steps__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
  counter-increment: list;
  color: var(--color-on-surface-variant);
}

.steps__item::before {
  content: counter(list);
  font-family: var(--font-family);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--color-on-surface);
}

.video {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.video__image {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.video__play-icon-container {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
  background-color: var(--color-gray-background);
  opacity: 60%;
}

.video__play-icon {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-on-gray-background);
}

.tips {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-emerald-background);
}

.tips__left-section {
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.tips__icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-on-emerald-background);
}

.tips__right-section {
  flex: 1;
}

.tips__name {
  margin-bottom: 1rem;
  color: var(--color-on-emerald-background);
}

.tips__value {
  color: var(--color-on-emerald-background-variant);
}

.reviews__left-section {
  margin-bottom: 4rem;
}

.reviews__list {
  margin-bottom: 3rem;
  list-style: none;
  padding-left: 0;
}

.reviews__title {
  margin-bottom: 0.5rem;
  color: var(--color-on-gray-background);
}

.reviews__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.reviews__review-number {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-on-gray-background-variant);
}

.reviews__rating {
  margin-bottom: 1.5rem;
}

.reviews__rating-bars {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.reviews__share-title {
  margin-bottom: 0.5rem;
  color: var(--color-on-gray-background);;
}

.reviews__share-subtitle {
  margin-bottom: 2rem;
  color: var(--color-on-gray-background-variant);
}

.reviews__share-button {
  width: 100%;
}

.rating-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.rating-bar__note {
  min-width: 0.75rem;
  color: var(--color-on-gray-background);
}

.rating-bar__icon {
  width: 1rem;
  height: 1rem;
  color: var(--color-rating-star-filled);
}

.rating-bar__bar {
  position: relative;
  overflow: hidden;
  flex: 1;
  border-radius: 9999px;
  height: 0.75rem;
  background-color: var(--color-rating-star-empty);
}

.rating-bar__bar-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--color-rating-star-filled);
}

.rating-bar__bar-progress--5 {
  width: 65%;
}

.rating-bar__bar-progress--4 {
  width: 10%;
}

.rating-bar__bar-progress--3 {
  width: 6%;
}

.rating-bar__bar-progress--2 {
  width: 12%;
}

.rating-bar__bar-progress--1 {
  width: 9%;
}

.rating-bar__note-percentage {
  min-width: 2.5rem;
  text-align: right;
  color: var(--color-on-gray-background);
}

.review {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 0.063rem solid var(--color-outline);
}

.review:first-child {
  padding-top: 0;
}

.review:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.review__header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.review__user-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
}

.review__user-name {
  margin-bottom: 0.5rem;
  line-height: normal;
  color: var(--color-on-gray-background);
}

.review__content {
  color: var(--color-on-gray-background-variant);
}


@media screen and (min-width: 640px) {
  .hero__right-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .popular-recipes__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .recipe__primary-button {
    width: auto;
  }

  .recipe-info {
    gap: 0;
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .recipe-info__item-inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .recipe-info__item + .recipe-info__item::before {
    content: "";
    display: block;
    height: 100%;
    width: 0.063rem;
    background-color: var(--color-outline);
  }

  .tips {
    flex-direction: row;
    align-items: center;
  }

  .tips__left-section {
    margin-bottom: 0;
  }

  .tips__icon {
    margin-left: 1rem;
    margin-right: 3rem;
  }
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  .recipe__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }

  .recipe__header-left {
    margin-bottom: 0;
  }

  .recipe__body {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .recipe__ingredients {
    order: 2;
    flex: 1;
  }

  .recipe__steps {
    order: 1;
    flex: 1;
  }

  .reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
  }

  .reviews__left-section {
    max-width: 25rem;
  }

  .reviews__right-section {
    max-width: 25rem;
    padding-top: 3.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__right-section {
    max-width: 40rem;
  }
}